/*  Theme Change */


.left-nav-item:hover,
.custom-button:hover,
.btn-secondary:active,
.btn-secondary:focus,
.dropdown-item:hover, 
.open > .btn-secondary.dropdown-toggle {
	background-color: #f51535;
	color: #fff;
}

.theme-text-color {
	color: #f51535 !important;
}



/* END OF THEME CHANGE*/